body, html{
  height:100%;
}

body {
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  overflow: hidden;
}

.dance-floor {
  height: 95%;
  position: relative;
}

body, a:link, a:visited, a:active {
  color: lightblue;
}
.title, .addDancerButton, .lineUpButton {
  padding:5px 12px;
  float:right;
}
.topbar {
  height: 5%;
  background-color: #555;
  position: relative;
}

/* .counter-bar {
  height: 5%;
  background-color: silver;
  position: relative;
} */
.title {
  background-color: #777;
}
.dancer {
  border:5px solid white;
  border-radius:10px;
}

.kanye-dancer, .trump-dancer, .biden-dancer {
  /* position: absolute keeps the images from running off the page, but makes them overlap */
  position: absolute;
}

.kanye-dancer img {
  border:5px solid green;
  border-radius:10px;
  height: 250px;
}

.trump-dancer img {
  border: 5px solid red;
  border-radius:10px;
  height: 250px;
}

.biden-dancer img {
  border: 5px solid blue;
  border-radius: 10px;
  height: 250px;
}

.biden-dancer img:hover, .trump-dancer img:hover, .kanye-dancer img:hover {
  height: 100px;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}














/*
.footer-counters, .wildcards, .wildcardz {
  margin-left: 10%;
  font-size: 30px;
  text-decoration: none;
}

.canidate-count {
  margin-left: 1%;
  font-size: 25px;
}

.kanye-count, .vKanye:hover {
  background-color: lightgreen;
  color: green;
}

.biden-count, .vBiden:hover {
  background-color: skyblue;
  color: blue;
}

.trump-count, .vTrump:hover {
  background-color: pink;
  color: red;
} */




